.burger_btn {
    display: none;
}

@media (max-width: 1199px) {
    .burger_btn {
        display: block;
        width: 50px;
        position: absolute; /* Абсолютное позиционирование */
        right: 0;
        background: none;
        border: none;
        font-size: 36px; /* Размер иконки */
        color: black;     /* Цвет иконки */
        cursor: pointer;
    }

    .burger_btn::before {
        font-family: 'Material Symbols Outlined';
        content: 'menu'; /* Имя иконки */
    }
}